@model LN7.BL.Models.Dog

@{
    ViewData["Title"] = ViewBag.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h3 class="ps-2">Are you sure you want to delete this?</h3>
<div class="p-2">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BreedName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BreedName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BodyType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BodyType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CoatColor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CoatColor)
        </dd>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CoatLength)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CoatLength)
        </dd>
                </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CoatType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CoatType)
        </dd>
                </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DogGroup)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DogGroup)
        </dd>
                </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EarLength)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EarLength)
        </dd>
                </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EarType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EarType)
        </dd>
                </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Imagepath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Imagepath)
        </dd>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LegLength)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LegLength)
        </dd>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MuzzleLength)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MuzzleLength)
        </dd>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MuzzleType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MuzzleType)
        </dd>
                </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Origin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Origin)
        </dd>
                </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TailLength)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TailLength)
        </dd>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TailType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TailType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WeightClass)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WeightClass)
        </dd>

    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>